<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Dungeon Domain</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include "mobilenav.njk" %}
    <main>
        <header>
            <button class="openbtn" onclick="openNav()">&#9776;</button>
            <h1><a href="/">Dungeon Domain</a></h1>
        </header>
        {% include "nav.njk" %}
        <div class="container">
            {% if tags[0] == "session_reports" or tags[0] == "session_collections" %}
                <p><button onclick="window.history.go(-1)" class="goBack">Go back</button></p>
            {% endif %}
            {% if tags[1] == "player-character" %}
                <h1>{{ title }}</h1>
                <p><em>Played by {{ player }}</em></p>
                <hr>
                {% if playing == false %}
                    <p><em>Note: Player is no longer a part of the campaign.</em></p>
                {% endif %}
            {% endif %}
            {% if tags[0] == "session_reports" %}
                <h1>{{ title }}</h1>
                <p><time><em>{{ date | formatDate }}</em></time></p>
                <hr>
            {% endif %}
            {{ content }}
            {% if tags and tags[0] == "session_reports" %}
                {% if rewards %}
                    <h3>Rewards Granted</h3>
                    <ul>
                        {% for reward in rewards %}
                            <li>{{ reward }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h3>Character(s) Interacted With</h3>
                <ul>
                    {% for npc in npc_interactions %}
                        <li>{{ npc }}</li>
                    {% endfor %}
                </ul>
                <h3>Participants</h3>
                <ul>
                    {% for participant in participants %}
                        <li>{{ participant }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </main>
<script src="/script/script.js"></script>
</body>
</html>