<div class="mobileNav">
    <div id="sidePanel" class="sidePanelMenu">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i>
            Home</a>
        <button class="sidePanelDropdownBtn">
            <i class="fa fa-caret-down"></i>
            <i class="fa fa-users" aria-hidden="true"></i>
            Characters
        </button>
        <div class="sidePanelDropdownContainer">
            {% for character in collections.player_characters %}
                <a href="{{ character.url }}">{{ character.data.title }}</a>
            {% endfor %}
            
        </div>
        <a href="/session_collections/all_sessions/"><i class="fa fa-book" aria-hidden="true"></i>
            Sessions</a>
        <a href="https://github.com/Frisaf/dungeon-domain" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
            Github</a>
    </div>
</div>