<nav>
    <ul class="navbar">
        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>
            Home</a></li>
        <li class="dropdown"><a href=""><i class="fa fa-users" aria-hidden="true"></i>
            Characters</a>
            <div class="dropdownContent">
                {% for character in collections.player_characters %}
                    <a href="{{ character.url }}">{{ character.data.title }}</a>
                {% endfor %}
            </div>
        </li>
        <li><a href="/session_collections/all_sessions/"><i class="fa fa-book" aria-hidden="true"></i>
            Sessions</a></li>
        <li><a href="https://github.com/Frisaf/dnd-sessions" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
            Github</a></li>
    </ul>
</nav>