main, body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", serif;
    font-style: normal;
    font-size: 1.1rem
}

main {
    justify-items: center;
    display: grid;
}

body {
    background-color: #c6c3be;
}

header {
    width: 100%;
    text-align: center;
    height: 10rem;
    display: grid;
    align-items: center;
    background-image: url("../img/dice.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 10px 10px #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header h1 a{
    font-size: 5rem;
    margin: 0;
    color: rgb(235, 235, 235);
    text-decoration: none;
}

footer {
    padding: 3rem;
    text-align: center;
}

img {
    max-width: 100%;
}

.container {
    top: 0%; left: 50%;
    margin: 2em 0;
    padding: 4em;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
    width: 45%;
    height: fit-content;
    align-self: center;
    color: black;
    align-self: center;
}

.container h1, h2, h3 {
    color: #900b0b
}

hr {
    color: brown;
}

.container p, span, ul{
    font-family: "Source sans 3", serif;
}

.container a {
    color: brown;
}

.container a:hover {
    color: black;
    transition: 0.5s;
}

.container ul a {
    color: black;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #fffcd8;
    border-style: double;
    border-color: brown;
    font-size: medium;
    font-weight: bold;
}

.accordion:after {
    content: "\002B";
    font-size: 13px;
    color: brown;
    float: right;
    margin-left: 5px;
    font-size: larger;
}

.active:after {
    content: "\2212";
  }

.active, .accordion:hover {
    background-color: #caad8a;
}

.panel {
    background-color: #eecba0;
    display: none;
    overflow: hidden;
}

.panelBox {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: fit-content;
}

.panelBox:hover {
    background-color: #fffcd8;
}

.panel a {
    text-decoration: none;
    color: black;
}

li::marker {
    color: brown;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    background-color: black;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.navbar a:hover {
    background-color: red;
}

.navbar a:visited {
    color: white;
}

.navbar a:link {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    color: white;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    width: 75%;
    text-align: left;
}

.charSheetimg {
    width: 70%;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    header h1 a{
        font-size: 2.5rem;
        margin: 0;
        color: rgb(235, 235, 235);
        text-decoration: none;
    }
}

@media only screen and (max-width: 1000px) {
    nav {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        height: 12rem;
    }
}

@media only screen and (max-width: 1000px) {
    .charSheetimg {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .openbtn {
        display: none;
    }
}

.sidePanelMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidePanelMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidePanelMenu a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    justify-self: right;
}

.mobileNav {
    display: flex;
    justify-content: right;
}

.sidePanelDropdownBtn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #818181;
    font-family: "Alegreya", serif;
}

.sidePanelDropdownBtn:hover {
    color: #f1f1f1;
}

.activeDropdown {
    background-color: darkgrey;
    color: white;
}

.sidePanelDropdownContainer {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.goBack {
    background: none;
    color: brown;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
}

.goBack:hover {
    color: black;
}